@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  font: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
body .container {
  background-color: hsl(10deg, 79%, 95%);
  min-height: 100vh;
}

.outline {
  outline: 1px solid red;
}

.text-center {
  text-align: center;
}

.font-heading {
  font-size: 1.6875rem;
}

.font-bold {
  font-weight: 700;
}

.color-neutral-400 {
  color: hsl(25deg, 47%, 15%);
}

.text-white {
  color: hsl(255deg, 100%, 100%);
}

.text-black {
  color: hsl(0deg, 0%, 0%);
}

.text-light {
  color: hsl(28deg, 10%, 53%);
}

.text-sm {
  font-size: 0.9140625rem;
}

.bg-primary {
  background-color: hsl(10deg, 79%, 65%);
}

.bg-white {
  background-color: hsl(255deg, 100%, 100%);
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.5rem;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.col {
  flex-direction: column;
}

.mx-auto {
  margin-inline: auto;
}

.rounded-md {
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.rounded-lg {
  border-radius: 1.1rem;
  -webkit-border-radius: 1.1rem;
  -moz-border-radius: 1.1rem;
  -ms-border-radius: 1.1rem;
  -o-border-radius: 1.1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-1 {
  padding: 1rem;
}

.mb-1 {
  margin-block-end: 0.2rem;
}

.mb-2 {
  margin-block-end: 2rem;
}

.chart {
  width: min(90%, 34rem);
}
.chart .resp-padding {
  padding: clamp(1rem, 2vw, 3rem);
}
.chart__body {
  padding-block: 1.5rem;
}
.chart__body h3 {
  font-size: 1.6875rem;
}
.chart hr {
  border: none;
  border-bottom: 2px solid hsl(27deg, 66%, 92%);
}
.chart .bar-container .bar {
  cursor: pointer;
  width: clamp(2rem, 8vw, 3rem);
  margin-block-end: 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.chart .bar-container .bar:hover {
  opacity: 60%;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
.chart .bar-container .amount {
  font-size: 0.9140625rem;
  visibility: hidden;
  padding: clamp(0.3rem, 1.5vw, 0.6rem);
  background-color: hsl(25deg, 47%, 15%);
  color: hsl(33deg, 100%, 98%);
  top: -2.5rem;
  z-index: 1;
  margin-block-end: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.chart .bar-container:hover .amount {
  visibility: visible;
  transition: scale 200ms ease-in-out;
  -webkit-transition: scale 200ms ease-in-out;
  -moz-transition: scale 200ms ease-in-out;
  -ms-transition: scale 200ms ease-in-out;
  -o-transition: scale 200ms ease-in-out;
}

.icon {
  width: 3rem;
  aspect-ratio: 1;
}

.attribution {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(186deg, 34%, 60%);
}

@media (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }
  .bar {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
